.form__button {
  display: block;
  width: 100%;
  padding: 13px 20px;
  margin: 0 auto;
  border: 0;
  border-radius: 3px;
  background-color: #3456f3;
  color: #fff;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.21;
  text-align: center;
  cursor: pointer;
  transition: opacity .3s;
}

@media screen and (min-width: 600px) and (min-height: 400px) {
  .form__button:hover {
    opacity: .6;
    cursor: pointer;
  }

  .form__button:disabled {
    opacity: .6;
    cursor: default;
  }
}